body{
   background-image: url("img/background.jpg");
}

.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease 1s;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease 1s;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease 1s;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease 1s;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease 1s;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}
.swiper-container, .swiper-wrapper, .swiper-slide {
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.swiper-container {	
	-webkit-perspective:1200px;
	-moz-perspective:1200px;
	-o-perspective:1200px;
	perspective:1200px;
}
.swiper-wrapper {
  -ms-perspective:1200px;
}
.swiper-slide-shadow-left, .swiper-slide-shadow-right, .swiper-slide-shadow-top, .swiper-slide-shadow-bottom {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	pointer-events:none;
}
.swiper-slide-shadow-left {	
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */
	
}
.swiper-slide-shadow-right {	
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */	
}
.swiper-slide-shadow-top {	
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-slide-shadow-bottom {	
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 16+, IE10, Opera 12.50+ */
}

.featured {
	height: 160px;
	padding: 20px 0 50px;
	margin-bottom: -25px;
}
.featured .swiper-slide {
  
	border-radius: 5px;
	height: 160px;
	width: 273px;
	
}
.featured a {
	display: block;
	width: 100%;
	height: 100%;
}

.autoplay {
  position:absolute;
  z-index:50; 
}

/*Colors only bro */

.featured .swiper-slide:nth-child(1) {
 background: rgba(23, 23, 230, 0.8);
}

.featured .swiper-slide:nth-child(2) {
 background: rgba(43, 43, 210, 0.8);
}
.featured .swiper-slide:nth-child(3) {
 background: rgba(63, 63, 190, 0.8);
}
.featured .swiper-slide:nth-child(4) {
 background: rgba(83, 83, 170, 0.8);
}
.featured .swiper-slide:nth-child(5) {
 background: rgba(103, 103, 130, 0.8);
}
.featured .swiper-slide:nth-child(6) {
 background: rgba(123, 123, 110, 0.8);
}
.featured .swiper-slide:nth-child(7) {
 background: rgba(143, 134, 50, 0.8);
}

.featured .swiper-slide:nth-child(8) {
 background: rgba(134, 143, 50, 0.8);
}

.featured .swiper-slide:nth-child(9) {
 background: rgba(125, 143, 50, 0.8);
}

/**--------------------------------**/
body{
 background-image: url("../img/background.jpg");
    background-attachment: fixed;
}
h2{
  margin:.25%;
  font-family:Open Sans;
}
.home{
  z-index:-1;
  margin-top:0px;
  margin-left:0px;
  postion:fixed;
  font-family:Open Sans;
  font-size:80px;
}
.label{
  border:2px solid #fff;
  height:auto;
  background-color:#fff;
}
p{padding:30px;
  margin-top:50px;
  margin-left:150px;
  font-family:Century Gothic;
  font-size:16px;
  margin-right:20px;
  color:#fff;
  float:left;
  border-radius:2px;
background:rgba(255,255,255, 0.5);

}
h1{
 color:#fff;
  margin-top:-700px;
  margin-left:-1100px;
   -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.nav{
  text-align:center;
  margin-top:350px;
  width:100%;
  height:50px;
  background-color:#FFCA28;
  color:#fff;
  font-size:24px;
  float:left;
  display:inline;
  border-radius:2px;
}

/*
$backgroundColor: #2E2633;
$fontColor1: #FF4500;
$fontColor2: #fff;


*/